/* TeamSection.css */
.team {
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.team h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.team-members {
  display: flex;
  justify-content: space-around;
}

.team-member {
  text-align: center;
  margin: 0 20px;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.team-member h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.team-member p {
  font-size: 1.2rem;
  color: #555;
}
