.team {
  padding: 60px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.team h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.squad {
  font-size: 1.5rem;
  margin-bottom: 40px;
  margin-top: 40px;
  color: rgb(59, 59, 59);
}

.team-members {
  display: flex;
  justify-content: space-around;
}

.team-member {
  text-align: center;
  margin: 0 20px;
  position: relative;
}

.team-member img {
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 1px 1px rgba(21, 21, 21, 0.392);
  animation: team_animate 4s ease-in-out infinite 1s;
}

@keyframes team_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.team-member h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.team-member p {
  font-size: 1.2rem;
  color: #555;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.slider-item {
  min-width: 25%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

.slider-item img {
  width: 130px;
  height: 130px;
  animation: team_animate 3s ease-in-out infinite 0.5s;
}

.slider-item h4 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.slider-item p {
  font-size: 1rem;
  color: #777;
  margin-top: 0;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 20px;
  z-index: 2;
  border-radius: 100%;
  right: 0;
}

.slider-btn:focus {
  outline: none;
}
