.about-hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
  color: white;
  background-color: #f9f9f9;
  flex-direction: row;
}

.hero-content {
  max-width: 50%;
}

.hero-content h3 {
  font-size: 1.5rem;
}

.hero-content h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.slider-container {
  text-align: left;
}

.slider-word {
  display: inline-block;
  margin: 0 5px;
  padding: 2px 10px;
  border-radius: 7px;
  background-color: #47ff9a;
}

.smaller-text {
  font-size: 0.9rem;
  margin-top: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-top: 10px;
  line-height: 1.6;
}

.line {
  width: 10rem;
  height: 3px;
  background-color: black;
  margin-top: 10px;
}

.hero-image {
  max-width: 50%;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .about-hero-section {
    flex-direction: column;
    text-align: center;
    padding: 10px;
    height: auto;
  }

  .hero-content {
    margin-top: 20%;
    max-width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content h3 {
    font-size: 1.2rem;
    align-self: flex-start;
  }

  .smaller-text {
    font-size: 0.8rem;
  }

  .line {
    display: inline-block;
    width: 8rem;
    height: 2px;
    margin: 10px auto;
  }

  .hero-image {
    max-width: 100%;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }
}
